<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>

    <div id="root">
        Fisrt name: <input type="text" v-model="firstName">
        <br>
        Last name： <input type="text" v-model="lastName">
        <br>
        name：<span>{{ firstName.slice(0,8) }} - {{ lastName }}</span>
    </div>
    
</body>
<script>
    Vue.config.productionTip = false

    const vm = new Vue({
        el: "#root",
        data() {
            return {
                firstName: "Qing",
                lastName: "Ye"
            }
        }
    })
</script>

</html>