<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>

    <!-- 
        计算属性 要用的属性不存在 要通过已有的属性计算得来
        原理：底层借助了Object.defineProperty方法提供的getter和setter
        get函数什么时候执行
        1）初次读取时会执行一次
        2）当依赖的数据发生变化的时候会被再次调用
        优势： 与methods实现相比 内部有缓存机制 效率更高 调试方便
        备注： 
        1. 计算属性最终会出现在vm上 直接读取使用即可
        2. 如果计算属性要修改 那必须卸载set函数上去相应修改 且set中要引起计算时依赖的数据发生变化
     -->

    <div id="root">
        Fisrt name: <input type="text" v-model="firstName">
        <br>
        Last name： <input type="text" v-model="lastName">
        <br>
        name：<span>{{ fullName }}</span>
        <br>
        name：<span>{{ fullName }}</span>
        <br>
        name：<span>{{ fullName }}</span>
    </div>
    
</body>
<script>
    Vue.config.productionTip = false

    const vm = new Vue({
        el: "#root",
        data() {
            return {
                firstName: "Qing",
                lastName: "Ye"
            }
        },
        computed: {
            // fullName: {
                //get有什么作用， 当有人读取fullName的时候， get就会被调用 且返回值就作为fullName的值
                // get 什么时候调用 1. 初次读取的时候 2. 所依赖的数据发生变化的时候
                // 完整写法
                // get() {
                //     console.log("Called")
                //     console.log(this)
                //     return this.firstName + " - " + this.lastName
                // },
                // set(value) {
                //     console.log("set", value)
                //     const arr = value.split("-")
                //     this.firstName = arr[0]
                //     this.lastName = arr[1]
                // }   
            // }
            // 简写 且 不考虑修改
            fullName(){
                    console.log("Called")
                    return this.firstName + " - " + this.lastName
                }
        }
    })
</script>

</html>